html {
  background: #000000;
  background-image: linear-gradient(90deg, rgb(0, 53, 197) 0%, rgb(33, 61, 122) 100%);
}
body {
  border-radius: 25px;
  background-color: rgb(38, 50, 71);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  color: #545454;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 4em auto 4em;
  max-width: 50%;
  padding: 2em 2em 4em;
}
h1 {
    color:antiquewhite
}
h2 {
    color:antiquewhite;
    font-weight: 600;
    line-height: 1.3;
    font-size: 16px;
}
h3 {
    color:aquamarine;
    font-weight: 300;
    font-size:12px;
}
.content-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  width:100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: black;
  color: #ffffff;
  font-weight: bold;
}

.helpful-info tr{
    width:100%;
}

.content-table th,
.content-table td {
  padding: 12px 0px 0px 12px;
  text-align: left;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
  color: black;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #d4d6d9;
  color: black;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}
.tooltip {
  position: absolute;
  display: inline-block;
  margin-top: -0.8rem;
}

.tooltip .infotiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: rgb(231, 252, 255);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: rgb(231, 252, 255);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .infotiptext {
  visibility: visible;
  opacity: 1;
}
